*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background: #1a0760;
    /* background: url(https://media.giphy.com/media/Q34Q46x7bUUKJfbn0s/giphy.gif); */
    background-size: 100% 100%;
    color: white;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    z-index: 1;
}

#header{
    width: 100%;
    height: 40%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mid{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
}

#midTop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45%;
    background: transparent;
}

#topleft{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
    flex-direction: column;
}

#topleft button{
    width: 40%;
    height: 7rem;
    border: 5px solid white;
    border-top:none ;
    background: #502158;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

#containerComodines{
    width: 100%;
    height: 40% ;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#containerPuntaje{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 25% ;
    background:transparent;
    font-size: 15px;
}

#topmid{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

#midImg{
    width: 60%;
    height: 80%;
    background: url(./img/logo.jpg);
    background-size: 100% 100%;
}

#topright{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    background: transparent;
    flex-direction: column;
    background: transparent;
}

#containerTime{
    width: 60%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #502158;
    border: 5px solid white;
    border-top:none ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#containerSiguiente{
    width: 60%;
    height: 30%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#btnSiguiente{
    width: 6rem;
    height: 3rem;
}

#midBottom{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background: transparent;
}

#bottom1{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    text-align: center;
    font-size:23px;
}

#bottom2{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background: transparent;
}

#bottom2 button{
    width: 38%;
    height: 38%;
    text-align: center;
    cursor: pointer;
    background: #502158;
    border: 5px solid white;
    color: white;
    font-size: 15px;
}

#bottom2 button:active{
    background: #b95fc9;
}

.capaPregunta{
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #1a0760;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
}

.containerPregunta{
    width: 90%;
    text-align: center;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnContinuar {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  width: 8rem;
  height: 3rem;
}

.btnContinuar:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.btnContinuar:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btnContinuar:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.audio{
    position: absolute;
    display: hidden;
    visibility: hidden;
}