*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background: #1a0760;
    /* background: url(https://media.giphy.com/media/Q34Q46x7bUUKJfbn0s/giphy.gif); */
    background-size: 100% 100%;
    color: white;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
}

#header{
    width: 100%;
    height: 40%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mid{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
}

#midTop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45%;
    background: transparent;
}

#topleft{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: transparent;
}

#topleft button{
    width: 40%;
    height: 7rem;
    border: 5px solid white;
    border-top:none ;
    background: #502158;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

#topmid{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

#midImg{
    width: 60%;
    height: 80%;
    background: url(../img/logo.jpg);
    background-size: 100% 100%;
}

#topright{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: transparent;
}

#containerTime{
    width: 60%;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #502158;
    border: 5px solid white;
    border-top:none ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#midBottom{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background: transparent;
}

#bottom1{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    text-align: center;
}

#bottom2{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background: transparent;
}

#bottom2 button{
    width: 40%;
    height: 35%;
    text-align: center;
    cursor: pointer;
    background: #502158;
    border: 5px solid white;
    color: white;
}